*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    border: solid black 1px;
    border-collapse: collapse;
}

body{
    height: 100%;
    width: 100%;
}

/** CAJA PRINCIPAL **/

.container{

    display: flex;
    width: 100%;
    height: 1000px;
    background: blue;
    color:white;
    align-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    

}

/**BOX**/

.box1{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    background: yellow;
    
}

                /**INSIDE BOX 1**/
                .box1_1{

                    width: max-content;
                    margin: auto;
                    background: white;
                    color: black;
                    font-weight: bold;
                    text-transform: uppercase;
                }

.box2{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    background: green;
    color: black;
    
}

                /**INSIDE BOX 2**/
                .box2_1{

                    width: auto;
                    margin: auto;
                    background: white;
                    color: black;
                    font-weight: bold;
                    justify-content: space-between;
                }
                .box2_2{

                    width: auto;
                    margin: auto;
                    background: white;
                    color: black;
                    font-weight: bold;
                }
                .box2_3{

                    width: auto;
                    margin: auto;
                    background: white;
                    color: black;
                    font-weight: bold;
                }
                .box2_4{

                    width: auto;
                    margin: auto;
                    background: white;
                    color: black;
                    font-weight: bold;
                }
                .box2_5{

                    width: auto;
                    margin: auto;
                    background: white;
                    color: black;
                    font-weight: bold;
                }
                .box2_6{

                    width: auto;
                    margin: auto;
                    background: white;
                    color: black;
                    font-weight: bold;
                }
                .box2_7{

                    width: 100%;
                    margin: auto;
                    background: white;
                    color: black;
                    font-weight: bold;
                }
.box3{
    width: 100%;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    background: yellow;
}
                
                /**INSIDE BOX 3**/
                .box3_1{
                
                    width: 100%;
                    margin: auto;
                    background: white;
                    color: black;
                    font-weight: bold;
                }                                
                .box3_2{
            
                    width: 100%;
                    margin: auto;
                    background: white;
                    color: black;
                    font-weight: bold;
                    display: flex;
                    flex-direction: row;
                }      
                        .box3_2_1{
                            width: 40%;
                        }
                        .box3_2_2{
                            width: 40%;
                        }

                .box3_3{
                
                    width: 50%;
                    margin: auto;
                    background: white;
                    color: black;
                    font-weight: bold;
                }      

.writespace{
    width: 100px;
}